/* Start global styles */
header h1 {
    text-align: center;
}



/* End global styles */

/* Start party count styling */

#count-title {
    text-align: center;
    border-style: solid;
    border-radius: 3px;
    margin: 0;
}

#bar-chart {
    /* width: 100vw; */
    height: 50px;
    margin: 10px 0;
    display: flex;

}

.bar{
    border: 2px solid black;
}

.Republican {
    background-color: lightcoral;
}

.Democrat {
    background-color: lightblue;
}

.Independent {
    background-color: blanchedalmond;
}

#count-boxes {
    display: flex;
    justify-content: space-between;
}


#Republican-party {
    background-color: lightcoral;
}

#Democrat-party {
    background-color: lightblue;
}

#Independent-party {
    background-color: blanchedalmond;
}

.count {
    display: grid;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 110px;
    border-style: solid;
    border-color: black;
    border-radius: 3px;
}

.count-number {
    margin: 0;
    justify-self: center;
    font-size: 4em;
}

.count-party {
    justify-self: center;
    align-self: flex-end;
    margin: 0;
}

/* End count box styling */

/* Start Filter Box Styling */

#filters {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    width: 150px;
    border: 2px solid black;
    margin: 10px;
}

.filter-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 5px;
    border: 2px solid black;
    margin: 5px;
}

.filter-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filter-text h3 {
    margin: 0;
    padding-right: 20px;
}

.filter-text p {
    margin: 0;
}

.filter-arrow {
    display: flex;
    align-self: center;
}

#filters ul {
    padding: 0;
}

.dropdown {
    padding:0;
    margin: 0 5px;
    border: 2px solid black;
}

#party-dropdown {
    /* display: block; */
}

#filters ul li {
    list-style: none;
    padding: 5px 5px;
    margin: 0;
    /* text-align: left; */
}

#filters ul li:hover {
    background-color: lightgray;
}

.hide {
    display: none;
}

/* End Filter Box Styling */


/* Start Senator List Styling */

/* End Senator List Styling */