/* Start global styles */
* {
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

header h1 {
    text-align: center;
    color: black;
}



/* End global styles */

/* Start title page styling */
#title-page {
    /* position: absolute; */
    /* left: 0;
    top: 0; */
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
    transition-duration: 2s;
    /* display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center; */
}

#title {
    width: 400px;
    position: absolute;
    top: 80vh;
    left: calc(50vw - 200px);
    transition-duration: 2s;
}

#capitol {
    /* justify-self: center; */
    position: absolute;
    height: 400px;
    width: 400px;
    top: calc(50vh - 200px);
    left: calc(50vw - 200px);
    transition-duration: 2s;
}


/* End title page styling */
/* Start stats page styling */
#stats1 {
    background-color: grey;
    height: 90vh;
    width: 100vw;
}

.bar-container {
    display: flex;
    justify-content: flex-start;
}


#stats2 {
    background-color: grey;
    height: 90vh;
    width: 100vw;
}

#stat-box-container {
    display: flex;
    /* justify-content: space-evenly; */
    width: 100vw;
}

.stat-box {
    height: 25vw;
    width: 25vw;
    margin: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}


/* End stats page styling */
/* Start party count styling */

.section-title {
    text-align: center;
    margin: 0;
    padding-top: 20px;
}

#bar-chart {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bar {
    border: 2px solid black;
    height: 50px;
    margin: 10px 10px;
    transition-duration: 2s;
}

.Republican {
    background-color: lightcoral;
}

.Democrat {
    background-color: lightblue;
}

.Independent {
    background-color: blanchedalmond;
}

#count-boxes {
    display: flex;
    justify-content: space-between;
}


/* #Republican-party {
    background-color: lightcoral;
}

#Democrat-party {
    background-color: lightblue;
}

#Independent-party {
    background-color: blanchedalmond;
} */

.count {
    display: grid;
    flex-direction: column;
    align-items: center;
    /* width: 300px;
    height: 110px; */

    border-radius: 3px;
}

.count-number {
    margin: 0;
    justify-self: center;
    font-size: 2em;
}

.count-party {
    justify-self: center;
    align-self: flex-end;
    margin: 0;
}

/* End count box styling */

/* Start Senator styling */
#senator-container {
    display: flex;
    align-items: flex-start;

}

/* End Senator styling */

/* Start Filter Box Styling */

#filters {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    width: 150px;
    border: 2px solid black;
    margin: 10px;
}

#filter-title {
    padding: 0;
    margin: 0;
    margin-left: 10px;
    margin-top: 5px;
}

.filter-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 5px;
    border: 2px solid black;
    margin: 5px;
}

.filter-box:hover {
    background-color: lightgray;
    cursor: pointer;
}

.filter-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filter-text h3 {
    margin: 0;
    padding-left: 0;
    padding-right: 20px;
    text-align: left;
}

.filter-text p {
    margin: 0;
    text-align: left;
}

.filter-arrow {
    display: flex;
    align-self: center;
}

#filters ul {
    padding: 0;
}

.dropdown {
    padding: 0;
    margin: 0 5px;
    border: 2px solid black;
    margin-bottom: 5px;
}

.filter-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    margin: 0;
    /* text-align: left; */
}

.dropdown li p {
    padding: 0;
    margin: 0;
}



#filters ul li:hover {
    background-color: lightgray;
}

.hide {
    display: none;
}

#state-search input {
    width: 100%;
}

/* End Filter Box Styling */
.party-hide,
.state-hide,
.gender-hide,
.rank-hide {
    display: none;
}

/* Start Senior Senator List Styling */
#leadership {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    border-style: solid;
}

.seniorSenator-box {
    /* background-color: violet; */
    margin: 5px;
    padding: 5px;
    display: flex;
    border-style: solid;
    text-align: center;

}


/* End Senior Senator List Styling */

/* Start Senator List Styling */
#senators {
    /* background-color: aqua; */
    width: 750px;
    border-style: solid;
    /* display: flex;
    align-items: center; */
}

#senator-list {
    text-align: center;
    /* background-color: blueviolet; */
    border-style: solid;
}

.senator-box {
    padding: 10px;
    /* background-color: antiquewhite; */
    margin: 10px;
    border-style: solid;
}

.senator-box:hover {
    background-color: lightgray;
    cursor: pointer;
}

/* End Senator List Styling */